.container-fluid{
  background-color: black;
}
h1,h2,h3{
  font-family: 'Quantico', sans-serif;
  font-size: 12.45em;
  color: white;
  text-shadow: 
  0 0 5px red,
  0 0 10px red,
  0 0 20px red,
  0 0 40px red,
  0 0 80px red,
  0 0 9px red,
  0 0 1px red,
  0 0 10px red;

}
.col-md-12{
  margin-top: 2em;
}