<nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand" routerLink='/landing' routerLinkActive='active'><h1>GitSearch</h1></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink='/users'routerLinkActive='active'><h2>UserSearch</h2><span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink='/repos' routerLinkActive='active'><h2>RepositorySearch</h2></a>
      </li>
    </ul>
  </div>
</nav>
