.input-group{
  margin-top: 15px;
}
button{
  width: 10em;
  font-size: 1.2em;
}
.container-fluid{
  background-image: linear-gradient(to right, #9796f0,#fbc7d4);
  color: white;
}
img{
  width: 50%;
  border: solid black 1px;
  border-radius: 50%;
}
#image{
  text-align: center;
  border-left: 0px ;
}
.card{
    margin: 1em 0em;
    background-image:linear-gradient(to right, #536976,#292E49) ;
}
ul{
  margin: 3em;

}
li{
  background-image:linear-gradient(to right, #536976,#292E49) ;
  border: 0px;
  border-left: solid black 8px;
  margin: 0.5em;
}



  
  