*{
  font-family: 'JetBrains Mono', monospace;
}
.container-fluid{
  background-image: linear-gradient(to right,#0f0c29,#302b63,#24243e);
}
img{
  width: 20em;
  margin: 1em 10em;
  border: solid black 5px;
  border-radius: 50%;
}
.details{
  margin: 1em;
}
.card{
  margin: 1em 0em;
  border: solid black 3px;
  border-radius: 2%;
  background-image: linear-gradient(to right,#ddd6f3,#faaca8);
  color: black;

}
h1{
  font-family: 'Monoton', cursive;

}
hr{
  border: solid black 1px;
}
li{
  color: white;
  margin: 1em 0em;
  border: solid black 3px;
  border-top: solid black 1px ;
  border-left: solid black 8px;
  background-image: linear-gradient(to right,#0f0c29,#302b63,#24243e);

}
h1{
  color: white;
}
